.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    float: right;
    width: 80%;
    height: 6vh;
    line-height: 6vh;
    font-size: large;
    text-indent: 1em;
}

.remove-btn {
    height: 6vh;
    width: 15%;
    float: right;
    background-color: transparent;
    color: #e46969;
    border: none;
    text-align: center;
}