.logout-btn {
    background-color: #e46969;
    float: right;
    border: 1px solid black;
    width: 4%;
}

.settings-btn {
    background-color: #b1a8a8;
    float: right;
    width: 4%;
}

.greeting {
    height: 4vh;
    line-height: 4vh;
    width: 96%;
    background-color: #9cce9c;
    border: 1px solid black;
    text-align: center;
    font-size: large;
}

.note {
    width: 20%;
    height: 86vh;
    resize: none;
    float: left;
    position: absolute;
    top: 4vh;
    left: 0;
}

.post-note-btn {
    width: 20%;
    height: 10vh;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid black;
}

.notes-container {
    width: 80%;
    height: 96vh;
    position: absolute;
    top: 4vh;
    right: 0;
    border: 1px solid black;
}